.calculator {
  width: 40rem;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 21px;
  background: gray;
  text-align: center;
  }
  
.container {
    display: flex;
    justify-content: center;
    padding: 1rem 4rem 1rem 2rem;
    font-size: 3rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}